{% extends 'base.html' %}

{% block title %}Criar Conta{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1>Criar Conta</h1>
        <form method="POST" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirme a Senha</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <button type="submit" class="btn btn-primary">Criar Conta</button>
        </form>
        <p class="auth-link">Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
    </div>

    <style>
        .auth-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .auth-container h1 {
            color: #1DA1F2;
            margin-bottom: 20px;
        }
        .auth-form {
            text-align: left;
        }
        .auth-form .form-group {
            margin-bottom: 15px;
        }
        .auth-form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #1DA1F2;
        }
        .auth-form input {
            margin: auto;
            width:90%;
            padding: 10px;
            border: 1px solid #E1E8ED;
            border-radius: 4px;
        }
        .btn-primary {
            background-color: #1DA1F2;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        .btn-primary:hover {
            background-color: #0d8bcf;
        }
        .auth-link {
            margin-top: 20px;
            color: #657786;
        }
    </style>
{% endblock %}
